body {
    margin:40px;
    display: flex;
    flex-direction: column;
}

* {
box-sizing: border-box;
font-family: 'Merriweather Sans', sans-serif;
font-size: 1.5vh;
}

.forms {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
}

.images {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

form {
    max-width: 38vh;
    margin-right: 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}

.doneImg {
    border: 1px dashed rgb(17 24 39 / 0.25);
    border-radius: 8px;
    max-width: 30vh;
    min-width: 30vh;
    height: 54vh;
    margin-right: 9vh;
}

.doneImg:active {
    border-color: rgba(255, 30, 0, 0.5);;
}

#photoCheck, #photoForm, #photoDescription {
    max-width: 30vh;
    /* min-width: 10vh; */
    padding: 5px;
}

.savableInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input {
    display: block;
    min-width: 25vh;
    margin-top: 1.1vh;
    padding: 1.1vh;
    background-color: #fafafa;
    border: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
}

.input:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}

input[type="checkbox"] {
    max-width: 1.5vh;
    margin-top: 1.1vh;
    margin-left: 1.1vh;
}

label {
    margin-top: 1vh;
    margin-left: 0.5vh;
}

.gen-download-block {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

button {
    display: inline-block;
    font-weight: 350;
    line-height: 1.5;
    margin-top: 1.1vh;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out;
}

button:hover, #download-btn:hover, #copy-btn:hover {
    color: #fff;
    background-color: #c94d05;
    border-color: #0a58ca;
}

#download-btn {
    background-color: orange;
    display: none;
    padding: 3px;
}

#copy-btn {
    background-color: rgb(31, 129, 35);
    display: none;
}

#copy-btn:active, #generate-btn:active {
    /* padding: 5px 11px 5px 11px; */
    padding: .375rem .75rem;
    /* transform: translateY(2px); */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.screenTypes {
    padding-top: 10px;
}